<div class="container-lg" style="margin-top:3%">
  <h1>Kategori Menu di Warung Pak Gagah</h1>
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Num</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each_with_index do |cat, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= cat.name %></td>
        <td>
          <form action="/category/edit/<%= cat.id %>" method="get">
            <input class="btn btn-primary" type="submit" placeholder="Edit" >
          </form>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <form action="/category/new" method="post">
    <input class="btn btn-success" type="submit" value="Tambahkan kategori">
  </form>
</div>

      
