<div class="container" style="margin-top:11%; width:80%">
  <h1 class="text-justify">Selamat datang, Pak Gagah dan Bu Guguh!</h1>
  <div class="card mt-3">
    <div class="card-body">
      Untuk menggunakan aplikasi ini, ada beberapa hal yang perlu diperhatikan:<br>
      1. Kategori makanan harus dibuat terlebih dahulu, ya, Pak/Bu!<br>
      2. Untuk menambahkan order, customer sudah harus ada.<br>
      3. Detil dari order bisa ditambahkan jika sudah membuat order.<br>
      4. Jika sudah lewat dari pkl. 17.00, pesanan yang belum dibayar akan dibatalkan secara otomatis sehingga Bapak dan Ibu tidak perlu repot-repot, ya!<br>
      
      <p>Selamat menggunakan!</p>
    </div>
  </div>

  <div class="container" style="margin-left:25%; width:50%;">
  <a href="/category" class="btn btn-primary btn-lg mr-3 mt-2" role="button" a>
    Category</a>
  <a href="/food" class="btn btn-primary btn-lg mr-3 mt-2" role="button" a>
    Food</a>
  <a href="/customer" class="btn btn-primary btn-lg mr-3 mt-2" role="button" a>
    Customer</a>
  <a href="/order" class="btn btn-primary btn-lg mr-3 mt-2" role="button" a>
    Order</a>
  </div>
</div>